#logo {
  font-size: 80px;
  margin: auto;
}

.handle-card {
    padding: 20px 50px;
    margin-left: auto;
    margin-right: auto;
    max-height: 150px;
    clear: both;
}

#handleDiv {
    margin: auto;
}

#submit {
  margin: auto;
  margin-top: 20px;
}

#mainSpinner {
  position: absolute;
  top: 300px;
  left: 0px;
  right: 0px;
  margin: auto;
  z-index: 10;
}

.share-div {
    text-align: center;
    background-color: white;
    min-height: 200px;
    margin-top: 20px;
    padding: 30px;
}

.sharethis {
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  padding: 6px 18px;
  border-radius: 5px;
  background-color:#4267b2;
}

.fb-button {
  margin-top: 30px;
}

.chart-card {
    min-height: 300px;
    margin: auto;
    margin-top: 20px;
}

.num-card {
  margin: auto;
  margin-top: 20px;
}

#tags {
  min-height: 80%;
}

#unsolved-con {
  padding: 20px 50px;
}

.lnk {
  margin: 10px;
  float: left;
}

td {
  color: rgb(117, 117, 117);
  font-weight: 500;
}

table {
  width: 100%;
}

a {
  text-decoration: none;
}




/*The things I don't know much about*/
html,
body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.layout .mdl-layout__header .mdl-layout__drawer-button {
    color: rgba(0, 0, 0, 0.54);
}

.mdl-layout__drawer .avatar {
    margin-bottom: 16px;
}

.drawer {
    border: none;
}


/* iOS Safari specific workaround */

.drawer .mdl-menu__container {
    z-index: -1;
}

.drawer .navigation {
    z-index: -2;
}


/* END iOS Safari specific workaround */

.drawer .mdl-menu .mdl-menu__item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.drawer-header {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 16px;
    height: 151px;
}

.navigation {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.layout .navigation .mdl-navigation__link {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.56);
    font-weight: 500;
}

.layout .navigation .mdl-navigation__link:hover {
    background-color: #00BCD4;
    color: #37474F;
}

.navigation .mdl-navigation__link .material-icons {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.56);
    margin-right: 32px;
}

.content {
    max-width: 1080px;
}
