.handle-card {
    padding: 20px 0px;
    margin: auto;
    max-height: 150px;
    text-align: center;
}

.card {
  margin: auto;
  margin-top: 20px;
  background-color: white;
}

#tags,
#levels {
  overflow-x: auto;
  overflow-y: hidden;
}

#unsolvedCon {
  padding: 30px 50px 50px 50px;

}
#unsolvedTitle {
  color: rgb(117, 117, 117);
  font-weight: 400;
  font-size: 20px;
  margin: -20px;
}


.lnk {
  margin: 5px;
  float: left;
}
table {
  width: 100%;
}
a {
  text-decoration: none;
}
