.handle-card {
    padding: 20px 30px;
    margin: auto;
    max-height: 150px;
    text-align: center;
}

.card {
  margin: auto;
  margin-top: 20px;
  background-color: white;
}

#tags,
#levels {
  overflow-x: auto;
  overflow-y: hidden;
}

#unsolvedCon {
  padding: 30px 20px 50px 50px;

}
#unsolvedTitle {
  color: #393939;
  font-weight: 500;
  font-size: 20px;
  margin: -20px;
}


.lnk {
  margin: 2px 5px;
  float: left;
}
